<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartkids.akillicocuklar2">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application

        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:versionCode="23"
        android:versionName="2.3"
        android:hardwareAccelerated="true"
        android:vmSafeMode="true"
        android:largeHeap="true">




        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4100535460120599~1018273710"/>

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>



        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/filter_title">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.facebook.com"
                    android:pathPrefix="/smartkidsmath" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” -->


            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/rateiconotify" />



        <activity
            android:name=".TrainingActivity"
            android:screenOrientation="portrait"/>


        <activity android:name=".RitmiksaymaActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".BuyukKucukActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SimetryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainmenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FourOpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TimechallengeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TwoplayerActivity"
            android:screenOrientation="portrait"/>












    </application>



</manifest>